@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');
@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Regular.ttf') format('truetype');
}
html, body {
    font-family: 'Roboto', sans-serif;
    
}

a, .btn-link {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

app {
    position: relative;
    display: flex;
    flex-direction: column;
}

.top-row {
    height: 3.5rem;
    display: flex;
    align-items: center;
}

.main {
    flex: 1;
}

    .main .top-row {
       #background-color: #f7f7f7;
        border-bottom: 1px solid #d6d5d5;
        justify-content: flex-end;
    }

        .main .top-row > a, .main .top-row .btn-link {
            white-space: nowrap;
            margin-left: 1.5rem;
        }

        .main .top-row a:first-child {
            overflow: hidden;
            text-overflow: ellipsis;
        }

.sidebar {
    background-image: linear-gradient(180deg, rgb(250, 250, 250) 0%, #ffffff 70%);
}

    .sidebar .top-row {
        background-color: #1b6ec2;
    }

    .sidebar .navbar-brand {
        font-size: 1.1rem;
    }

    .sidebar .oi {
        width: 2rem;
        font-size: 1.1rem;
        vertical-align: text-top;
        top: -2px;
    }

    .sidebar .nav-item {
        font-size: 0.9rem;
        padding-bottom: 0.5rem;
    }

        .sidebar .nav-item:first-of-type {
            padding-top: 1rem;
        }

        .sidebar .nav-item:last-of-type {
            padding-bottom: 1rem;
        }

        .sidebar .nav-item a {
            color: #444444;
            border-radius: 4px;
            height: 3rem;
            display: flex;
            align-items: center;
            line-height: 3rem;
        }

            .sidebar .nav-item a.active {
                background-color: rgba(27, 110, 194, 0.1);
                color: #0059B3;
            }

            .sidebar .nav-item a:hover {
                background-color: rgba(27, 110, 194, 0.05);
                color: #0059B3;
                ;
            }

.content {
    padding-top: 1.1rem;
}

.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

.valid.modified:not([type=checkbox]) {
    border-color: #26b050 !important;
}

.invalid {
    border-color: red !important;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

@media (max-width: 767.98px) {
    .main .top-row:not(.auth) {
        display: none;
    }

    .main .top-row.auth {
        justify-content: space-between;
    }

    .main .top-row a, .main .top-row .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 768px) {
    app {
        flex-direction: row;
    }

    .sidebar {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .main .top-row {
        position: sticky;
        top: 0;
    }

    .main > div {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }

    .navbar-toggler {
        display: none;
    }

    .sidebar .collapse {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}

.input-control{
    border: 1px solid #b6b6b6;
    border-radius:3px;    
    min-height:30px;
    margin: 3px;
    padding-left:8px;
    
}
 .input-control:focus {
    outline: none !important;
 }

.input-control:hover {
   background-color: rgb(219 216 216 / 0.80)
}

.custom-button {
    border: none;
    background: none;
    outline: none !important;
}
.button-icon {    
    font-size: 24px;
    vertical-align:text-bottom;
}

.blue {
    color: #1861ac;
}

.green {
    color: #26b050;
}

.red {
    color: red;
}



.qty-control {
max-width: 60px
}
.odd-entry {
    background-color: #ffffff;
}

.even-entry {
    background-color: #dfecfc
}
.list-entry {
    padding-left: 10px;
    text-decoration: none;
    min-height: 45px;
}

.list-entry:hover {
    cursor: pointer;
   
    
}
.list-entry-checked {
    text-decoration: line-through;
}

.list-header {
    padding: 15px;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    background-color: #1b6ec2;
    display: none;
}
.list-title {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
    background-color: #1b6ec2;
    text-align: center;
}

.list-container {
    -webkit-box-shadow: 10px 5px 16px 5px rgba(0,0,0,0.2);
    box-shadow: 10px 5px 16px 5px rgba(0,0,0,0.2);
    
}

.vertical-center-content {
    display:flex;
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 0px;  
}

input[type=checkbox] {
    width: 25px;
    height: 25px;
    cursor:pointer;
}

.secondary-text {
    font-size: 12px;
}

.sm-invisible {
    display:normal;
}
@media(min-width: 576px) {
    .sm-invisible {
        display:none;
    }
    .secondary-text {
        font-size: 16px;
    }
    .list-header {
        display:block;        
    }

    .list-title {
       padding-bottom: 0px;
    }
}

.hide-element {
    display:none;
}

.show-element {
    width: 100%;
    display: flex;
}

.full-height {
height: 100%;
}
.full-width {
    width: 100%;
}

.item-name{
    font-weight: bold;
}

.custom-error {
    background-color: #aa0000 !important;
}